$emblemGold: #895b07;
$abodeRed: #a72806;
$relativeBlue: #0a639d;

body {
  background-color: #f3f3f3;
  padding: 10px 100px;
  font-family: fantasy;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.outer {
  ul {
    margin-block-start: 0 !important;
    padding-inline-start: 0 !important;
  }
  li {
    list-style-type: none;
    border-bottom: solid 1px grey;
    padding-bottom: 5px;
  }
  a {
    text-decoration: none;
    color: #030303;
    font-weight: bold;
    font-size: 20px;
    &:hover {
      color: #7a7a7a;
      transition: 0.5s;
    }
  }
}

.description {
  width: 70%;
}

.generation {
  font-size: 12px;
  font-weight: bold;
}

.add-icon {
  float: right;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  * {
    margin: 5px 0;
  }
}

.detail {
  div {
    margin: 10px 0;
  }
  h2,
  h4 {
    display: inline;
  }
}

.custom-icon {
  margin-right: 5px;
}

.name {
  display: inline-block;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  a {
    text-transform: capitalize;
    &:visited {
      color: unset;
    }
    &:hover {
      color: grey;
    }
  }
  .current-page {
    color: #083f39;
    font-weight: bolder;
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

.gods-list {
  display: flex;
  justify-content: space-between;
  li {
    border-bottom: none;
  }
}

.domains {
  padding: 16px 0;
  display: flex;
  align-items: center;
  h3 {
    font-size: 1.2em;
  }
  li {
    margin: 0 40px;
  }
}

.god-emblems {
  list-style: none;
  display: flex;
  align-items: center;
  li {
    margin: 0 40px;
  }
  a {
    color: $emblemGold;
    &:hover {
      filter: brightness(2);
    }
  }
}

.god-abode {
  a {
    color: $abodeRed;
    margin-left: 8px;
    &:hover {
      filter: brightness(2);
    }
  }
}

#relatives-label {
  padding-top: 20px;
  display: block;
}

.god-family {
  // padding: 20px 0;
  display: flex;
  justify-content: space-between;
  width: 50%;
  a {
    color: $relativeBlue;
  }
}
