$emblemGold: #895b07;
$abodeRed: #a72806;
$relativeBlue: #0a639d;
$darkGrey: #6a6a6a;
$addGreen: #709d72;
$addGreenHover: #97cf99;
$deleteRed: #c65b5b;
$deleteRedHover: #f83333;
$tiDelete: #ebc4c4;
$tiDeleteHover: #ed9393;

body {
  background-color: #f3f3f3;
  padding: 10px 100px;
  font-family: fantasy;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.add-icon {
  float: right;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  * {
    margin: 5px 0;
  }
}

input {
  outline: none;
}

input[type="radio"] {
  cursor: pointer;
  margin-left: 4px;
}

.name-input {
  border: none;
  box-shadow: 0px 0px 3px 1px grey;
  padding: 2px 4px;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
}

.name {
  display: inline-block;
}

.generation {
  font-size: 12px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  a {
    text-transform: capitalize;
    font-size: 1.5em;
    &:visited {
      color: unset;
    }
    &:hover {
      color: grey;
    }
  }
  .current-page {
    color: #083f39;
    font-weight: bolder;
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

.none {
  margin-right: 12px;
}

.detail {
  padding: 40px 0;
  em {
    text-transform: capitalize;
    color: $darkGrey;
  }
  h2,
  h4 {
    display: inline;
  }
}

.abode-name {
  color: $abodeRed;
  &:hover {
    filter: brightness(2);
  }
}

.emblem-name {
  color: $emblemGold;
  &:hover {
    filter: brightness(2);
  }
}

.gods-list {
  display: flex;
  li {
    border-bottom: none;
    margin-right: 2em;
  }
}

#domain-wrap {
  position: relative;
  display: flex;
  align-items: center;
  .edit-tools {
    margin-top: 0;
    margin-bottom: 5px;
  }
  form {
    position: absolute;
    right: -20px;
    top: 10px;
  }
}

.domains {
  padding: 16px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1604px;
  h3 {
    font-size: 1.2em;
  }
  li {
    white-space: nowrap;
    margin: 0 40px;
  }
  .edit-tools {
    align-self: flex-start;
    margin-top: 8px;
  }
}

#emblemForm {
  max-width: 360px;
}

#emblem-wrap {
  position: relative;
  display: flex;
  align-items: center;
  .custom-icon {
    margin-bottom: 6px;
  }
}

.god-emblems {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  li {
    margin: 0 30px;
  }
  a {
    color: $emblemGold;
    &:hover {
      filter: brightness(2);
    }
  }
}

.god-abode {
  margin: 0 10px;
  color: $abodeRed;
  margin-left: 8px;
  &:hover {
    filter: brightness(2);
  }
}

.basic-single {
  max-width: 360px;
  * {
    margin: unset;
  }
}

#abodeForm {
  .update-btn {
    width: 167px;
  }
}

.MuiInputBase-root {
  color: rgb(130 130 130);
  background: white;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 0 12px;
  &:before {
    border-bottom: 0;
  }
}

.MuiInput-underline {
  &:before,
  &:after {
    border-bottom: 0 !important;
  }
}

.MuiSelect-icon {
  top: -4px !important;
}

#label,
#select {
  font-family: fantasy;
}
#select {
  background-color: white;
}

.abode-detail {
  display: flex;
  flex-direction: column;
  h1 {
    color: $abodeRed;
  }
}

.emblem-detail {
  display: flex;
  flex-direction: column;
  h1 {
    color: $emblemGold;
  }
}

.edit-tools {
  font-size: 10px;
  cursor: pointer;
  display: inline;
  vertical-align: super;
  height: fit-content;
}

.custom-icon {
  margin-left: 10px;
  fill: lightgrey;
  &:hover {
    fill: grey;
  }
}

.plus {
  fill: $addGreen;
  &:hover {
    fill: $addGreenHover;
  }
}

.minus {
  fill: $deleteRed;
  &:hover {
    fill: $deleteRedHover;
  }
}

.x {
  font-size: 12px;
  fill: $tiDelete;
  &:hover {
    fill: $tiDeleteHover;
  }
}

.abode-gods {
  padding: 80px 0;
}

.emblems-list {
  .emblem-name {
    margin-bottom: 12px;
  }
}

#description {
  display: flex;
  .custom-icon {
    margin-top: 10px;
  }
}

#description-update {
  display: block;
  max-width: 740px;
  form {
    max-width: 740px;
  }
  textarea {
    height: 175px;
    font-family: inherit;
    outline: 0;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 0px 3px 1px grey;
    padding: 8px;
  }
}

.update-btn {
  font-family: fantasy;
  border: none;
  box-shadow: 0px 0px 3px 1px grey;
  padding: 4px;
  border-radius: 4px;
  outline: 0;
  text-transform: capitalize;
  &:hover {
    filter: contrast(1.1);
  }
}

#god-abode-detail {
  display: flex;
  align-items: center;
  .edit-tools {
    align-self: flex-start;
    margin-top: 0;
  }
}

.unknown {
  margin: 0 8px;
}
